<div>
	<fieldset class="border">
		<legend>Border Style</legend>
		<div class="layout-row layout-wrap">
			<label class="flex option">
				<input data-prefix="border_style_" data-class="border_style_none" type="radio" name="border_style" />None
			</label>
			<label class="flex option">
				<input data-prefix="border_style_" data-class="border_style_dashed" type="radio" name="border_style" />Dashed
			</label>
			<label class="flex option">
				<input data-prefix="border_style_" data-class="border_style_dotted" type="radio" name="border_style" />Dotted
			</label>
			<label class="flex option">
				<input data-prefix="border_style_" data-class="border_style_double" type="radio" name="border_style" />Double
			</label>
			<label class="flex option">
				<input data-prefix="border_style_" data-class="border_style_solid" type="radio" name="border_style" />Solid
			</label>
		</div>	
	</fieldset>
	<fieldset class="border">
		<legend>Border Colour</legend>
		<div class="layout-row layout-wrap">
		{{#each .}}
			<label class="flex option bg_{{@key}}">
				<input data-prefix="border_colour_" data-class="border_colour_{{@key}}" type="radio" name="colour" />
				<span class="value">{{this}}</span>
			</label> 
		{{/each}}
		</div>	
	</fieldset>
	<fieldset class="border">
		<legend>Border Width</legend>
		<div class="layout-row layout-wrap">
			<label class="flex option border_thin">
				<input data-prefix="border_width_" data-class="border_width_thin" type="radio" name="width" />Thin
			</label>
			<label class="flex option border_medium">
				<input data-prefix="border_width_" data-class="border_width_medium" type="radio" name="width" />Medium
			</label> 
			<label class="flex option border_fat">
				<input data-prefix="border_width_" data-class="border_width_fat" type="radio" name="width" />Fat
			</label> 
		</div>	
	</fieldset>
</div>