<div>
	<fieldset class="border">
		<legend>Border Style</legend>
		<div class="layout-row layout-wrap">
	
			<label class="flex option border_{{@key}}">
				<input class="colour" data-class="colour_{{@key}}" type="radio" name="colour" />Dashed
			</label>
			<label class="flex option border_{{@key}}">
				<input class="colour" data-class="colour_{{@key}}" type="radio" name="colour" />Solid
			</label>
		</div>	
	</fieldset>
	<fieldset class="border">
		<legend>Border Colour</legend>
		<div class="layout-row layout-wrap">
		{{#each .}}
			<label class="flex option bg_{{@key}}">
				<input class="colour" data-class="border_colour_{{@key}}" type="radio" name="colour" />{{this}}
			</label> 
		{{/each}}
		</div>	
	</fieldset>
	<fieldset class="border">
		<legend>Border Thinkness</legend>
		<div class="layout-row layout-wrap">
			<label class="flex option border_thin">
				<input class="colour" data-class="border_thin" type="radio" name="colour" />Thin
			</label>
			<label class="flex option border_medium">
				<input class="colour" data-class="border_medium" type="radio" name="colour" />Medium
			</label> 
			<label class="flex option border_fat">
				<input class="colour" data-class="border_fat" type="radio" name="colour" />Fat
			</label> 
		</div>	
	</fieldset>
</div>