<fieldset class="font_layout">
	<legend>Font Layout</legend>
	<div class="layout-row">
	
		<label>
			<input class="text_left" data-class="text_left" type="radio" name="font_layout" /><span class="dashicons dashicons-editor-alignleft"></span>
		</label>
		<label>
			<input class="text_center" data-class="text_center" type="radio" name="font_layout" /><span class="dashicons dashicons-editor-aligncenter"></span>
		</label>
		<label>
			<input class="text_right" data-class="text_right" type="radio" name="font_layout" /><span class="dashicons dashicons-editor-alignright"></span>
		</label> 
		
	</div>
</fieldset>