<fieldset class="padding">
	<legend>Padding</legend>
	<div class="layout-row layout-wrap">
		<label class="flex option">
			<input data-prefix="padding_" data-class="" type="radio" name="padding" />None
		</label>
		<label class="flex option">
			<input data-prefix="padding_" data-class="padding_8" type="radio" name="padding" />8px
		</label>
		<label class="flex option">
			<input data-prefix="padding_" data-class="padding_16" type="radio" name="padding" />16px
		</label>
		<label class="flex option">
			<input data-prefix="padding_" data-class="padding_32" type="radio" name="padding" />32px
		</label>
		<label class="flex option">
			<input data-prefix="padding_" data-class="padding_64" type="radio" name="padding" />64px
		</label>
	</div>
</fieldset>
<fieldset class="margins">
	<legend>Margin</legend>
	<div class="layout-row layout-wrap">
		<label class="flex option">
			<input data-prefix="margin_" data-class="" type="radio" name="margin" />None
		</label>
		<label class="flex option">
			<input data-prefix="margin_" data-class="margin_8" type="radio" name="margin" />8px
		</label>
		<label class="flex option">
			<input data-prefix="margin_" data-class="margin_16" type="radio" name="margin" />16px
		</label>
		<label class="flex option">
			<input data-prefix="margin_" data-class="margin_32" type="radio" name="margin" />32px
		</label>
		<label class="flex option">
			<input data-prefix="margin_" data-class="margin_64" type="radio" name="margin" />64px
		</label>
	</div>
</fieldset>