#footer{
	&.sticky{
		position: fixed;
		position:relative;
		bottom:0px;
		left:0px;
		right:0px;
	}
	
	.sign-off{
		text-align: center;
		overflow: auto;

		a{
			
		}
	}
	
	
	#footer_widgets{
		
	}	
}